.main {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
}

.main__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.main__notes {
  background: var(--color-note-bg-light);
  color: var(--color-note-text-light);
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.875rem;
  overflow-x: auto;
  white-space: pre-wrap;
}

.app--dark .main__notes {
  background: var(--color-note-bg-dark);
  color: var(--color-note-text-dark);
}

.main__search-result {
  margin-bottom: 1.5rem;
}
.main__search-category {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--color-accent-light);
}

.app--dark .main__search-category {
  color: var(--color-accent-dark);
}

.main__no-results {
  font-style: italic;
  color: var(--color-secondary-light);
}

.app--dark .main__no-results {
  color: var(--color-secondary-dark);
}
