.main {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
}

.main__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.main__notes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;

  /* Prevent weird collapsing/overflow */
  width: 100%;
  box-sizing: border-box;
}

.app--dark .main__notes {
  background: #1f2937;
}
.main__search-result {
  margin-bottom: 1.5rem;
}
.main__search-category {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.main__no-results {
  font-style: italic;
}
