.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid var(--color-border-light);
  background: inherit;
  z-index: 1000;
}

.app--dark .header {
  border-color: var(--color-border-dark);
}

.header__title {
  font-size: 1.5rem;
  font-weight: bold;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shadowPulse {
  0%,
  100% {
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.3));
  }
  50% {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.5));
  }
}

.header__title--rainbow {
  background: linear-gradient(
    270deg,
    #ff0000,
    #ff9900,
    #33cc33,
    #0000ff,
    #6600cc,
    #ff3399,
    #ff0000
  );

  background-size: 400% 400%; /* plenty of room for animation */
  background-clip: text; /* for Firefox */
  -webkit-background-clip: text; /* for Chrome/Safari */
  -webkit-text-fill-color: transparent;

  animation: rainbow 6s linear infinite, shadowPulse 2s ease-in-out infinite;
}
